@model IEnumerable<Incident>
@{

    ViewBag.Title = "Home Page";
}


<h3>List of Incidents</h3>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Number</th>
            <th>CallerNumber</th>
            <th>CallerName</th>
            <th>Date</th>
            <th></th>
            <th></th>
        </tr>
    </thead>


    <tbody>
        @foreach (var item in Model)
        {
            <tr>
               <td>@item.Id</td>
               <td>@item.Number</td>
                <td>@item.CallerNumber</td>
                <td>@item.CallerName</td>
                <td>@item.Date</td>
                <td><a href="@Url.Action("GetIncidentByIncidentNumber",new {Number=item.Number })">View</a></td>
                <td><a href="@Url.Action("EditIncident",new {Number=item.Number })">Edit</a></td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("CreateIncident")">Create New</a>


<h1>@ViewBag.D</h1>